body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#gameBoard1 {
    display: flex;
    justify-content: center;
  /* grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 20px auto;
  max-width: fit-content; */
} 
#gameBoard2 {
  display: flex;
  justify-content: center;
}
#gameBoard3 {
  display: flex;
  justify-content: center;
}
#gameBoard4 {
  display: flex;
  justify-content: center;
}
#gameBoard5 {
  display: flex;
  justify-content: center;
}
#gameBoard6 {
  display: flex;
  justify-content: center;
}

 .cell {
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    text-align: center;
    line-height: 60px;
    font-size: 2em;
}

.cell.correct {
  background: #538d4e;
  color: white;
}

.cell.semi-correct {
  background: #b59f3b;
  color: white;
}

.cell.incorrect {
  background: #3a3a3c;
  color: white;
}

@media (max-width: 400px) {
  .cell {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    text-align: center;
    line-height: 40px;
    font-size: 1em;
}
}

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 310px; 6 columns * 50px + 5 gaps * 2px */
/* } */
/* .flex-item {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px; /* Optional: Add space between flex items */
/*} */
.guess1 {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px; /* Optional: Add space between flex items */
}

.guess2 {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px; /* Optional: Add space between flex items */
}
.guess3 {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px; /* Optional: Add space between flex items */
}
.guess4 {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px; /* Optional: Add space between flex items */
}
.guess5 {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px; /* Optional: Add space between flex items */
}
.guess6 {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px; /* Optional: Add space between flex items */
}
